/* https://css-tricks.com/perfect-full-page-background-image/ */
html { 
    background: url(../Images/Background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form {
    font-size: 24px;
}
select {
    font-size: 24px;
}
#raceSelector {
    font-size: 24px;
}
h1 {
    font-size: 40px;
}
#title {
    background-color: #888;
    position: relative;
    text-align: center;
    color: #20c449;
    font-size: 85px;
    top: -70px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal2 {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-header {
    padding: 2px 16px;
    background-color: #1b849e;
    color: white;
    text-align: center;
}

.modal-body {
    padding: 2px 16px;
    background-color: rgb(191, 230, 231);
    text-align: center;
    font-size: 32px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: rgba(245, 197, 142, 0.897);
    color: white;
    text-align: center;
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#Easy {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 8px;
}

#Normal {
    background-color: goldenrod;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 8px;
}

#Hard {
    background-color: maroon;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 8px;
}

.npc {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.container {
    position: relative;
    text-align: center;
    color:  white;
    font-size: 18px;
}

.Attack {
    position: absolute;
    bottom: -10%;
    left: -15%;
}

.Health {
    position: absolute;
    top: -15%;
    left: 13%;
}

.Defense {
    position: absolute;
    bottom: -10%;
    right: 5%;
}

.buttons {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

.victory {
    display: inline-block;
    position: fixed;
    justify-content: left;
    top: 20%;
}

#Fight {
    position: fixed;
    padding: 15px 32px;
    border: none;
    background-color: red;
    color: white;
    font-size: 35px;
    border-radius: 8px;
    width: 30%;
    top: 85%;
} 

.bonus {
    padding: 15px 21px;
    border: none;
    color: white;
    font-size: 25px;
}

#attack {
    padding: 15px 33px;
    background-color: maroon;
    border-radius: 8px;
}

#defense {
    background-color: mediumblue;
    border-radius: 8px;
}

#heal {
    padding: 15px 61px;
    background-color: mediumspringgreen;
    border-radius: 8px;
}

.AttUP {
    position: relative;
    height: 30px;
    top: 15px;
    opacity: 0;
}

.DefUP {
    position: relative;
    height: auto;
    width: 35px;
    top: 5px;
    opacity: 0;
}

.resetPage {
    padding: 25px 65px;
    font-size: 25px;
    background-color: #4caf50;
    color: white;
    border-radius: 8px;
}

#endGameF {
    background-color: blueviolet;
}

.endImg {
    padding: 25px;
}

.declareOpp {
    display: flex;
    color: darkslategray;
    justify-content: center;
}

.Bob {
    color: greenyellow;
    position: relative;
    top: -150px;
    left: 4%;
}

.VS {
    position: fixed;
    left: 44%;
    top: 40%;
    font-size: 100px;
}

.oppName {
    color: greenyellow;
    position: relative;
    align-items: left;
    left: 75%;
    top: -223px;
}

.enemy {
    max-width: 150px;
    max-height: auto;
}

.player {
    max-width: 150px;
}

.heal {
    max-width: 60px;
}

.OO {
    position: relative;
    display: inline-block;
}

.OO .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 20px;
    opacity: 0;
    transition: 1s;
}

.OO:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.HG {
    position: relative;
    display: inline-block;
}

.HG .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 20px;
    opacity: 0;
    transition: 1s;
}

.HG:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.EE {
    position: relative;
    display: inline-block;
}

.EE .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 20px;
    opacity: 0;
    transition: 1s;
}

.EE:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.Hu {
    position: relative;
    display: inline-block;
}

.Hu .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 20px;
    opacity: 0;
    transition: 1s;
}

.Hu:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.Un {
    position: relative;
    display: inline-block;
}

.Un .tooltiptext {
    visibility: hidden;
    width: 92px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 20px;
    opacity: 0;
    transition: 1s;
}

.Un:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}