/* https://css-tricks.com/perfect-full-page-background-image/ */
html { 
    background: url(../Images/Background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form {
    font-size: 24px;
}
select {
    font-size: 24px;
}
#raceSelector {
    font-size: 24px;
}
h1 {
    font-size: 40px;
}
#title {
    background-color: #888;
    position: relative;
    text-align: center;
    color: #20c449;
    font-size: 105px;
    top: -70px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-header {
    padding: 2px 16px;
    background-color: #1b849e;
    color: white;
    text-align: center;
}

.modal-body {
    padding: 2px 16px;
    background-color: rgb(191, 230, 231);
    text-align: center;
    font-size: 32px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: rgba(245, 154, 142, 0.897);
    color: white;
    text-align: center;
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1;}
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#Easy {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

#Medium {
    background-color: goldenrod;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

#Hard {
    background-color: maroon;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

.npc {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    top: 200px;
}

.container {
    position: relative;
    text-align: center;
    color:  white;
    font-size: 18px;
}

.Attack {
    position: absolute;
    bottom: -15px;
    left: -10px;
}

.Health {
    position: absolute;
    top: -4px;
    left: 32px;
}

.Defense {
    position: absolute;
    bottom: -15px;
    right: 20px;
}

.buttons {
    display: flex;
    position: relative;
    justify-content: center;
    top: 200px;
}

.victory {
    display: inline-block;
    position: relative;
    justify-content: left;
    top: 250px;
}

#Fight {
    flex-grow: .5;
    padding: 15px 32px;
    border: none;
    background-color: red;
    color: white;
    font-size: 45px;
} 

.bonus {
    padding: 15px 41px;
    border: none;
    color: white;
    font-size: 25px;
}

#attack {
    padding: 15px 53px;
    background-color: maroon;
}

#defense {
    background-color: mediumblue;
}

#heal {
    padding: 15px 81px;
    background-color: mediumspringgreen;
}

.AttUP {
    position: relative;
    height: 50px;
    top: 15px;
    opacity: 0;
}

.DefUP {
    position: relative;
    height: 50px;
    width: 65px;
    top: 15px;
    opacity: 0;
}